@model Portfolio.Models.BlogPost
@{
    ViewData["Title"] = "Edit";
}
<h6><a href="../">Back</a></h6>
<h2>Edit Post</h2>

@using (Html.BeginForm())

{
    @Html.HiddenFor(m => m.BlogPostKey)<br />

    @Html.LabelFor(m => m.Title)<br>
    @Html.EditorFor(m => m.Title)<br><br>

    @Html.LabelFor(m => m.Content)<br>
    @Html.TextAreaFor(m => m.Content, 10, 80, new { });<br />

    <input type="submit" value="Save Changes" class="btn btn-success">
}